:root {
  --color-100: #ffffff;
  --color-200: #d8d4d5ea;
  --color-300: #858182;
  --color-400: #202124;
  --color-500: rgb(247, 247, 8);
  font-family: 'Rubik', sans-serif;

  --padding-100: 10px;
  --padding-200: 20px;
  --padding-300: 30px;
  --padding-400: 40px;
  --padding-500: 50px;

  --gap-100: 10px;
  --gap-200: 20px;
  --gap-300: 30px;
  --gap-400: 40px;
  --gap-500: 50px;

  --margin-100: 10px;
  --margin-200: 20px;
  --margin-300: 30px;
  --margin-400: 40px;
  --margin-500: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  min-height: 100svh;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap-200);
}

#Home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color-400);
  height: 60px;
}
#Home > img {
  margin: var(--margin-300);
}

.lista {
  display: flex;
  align-items: center;
  gap: var(--gap-200);
  cursor: pointer;
  margin: var(--margin-300);
}
.lista > li {
  max-width: 250px;
  border-radius: 5px;
}

.lista > li:hover {
  background-color: var(--color-300);

  transition: all 0.5s;
}

.lista > li > a {
  color: var(--color-100);
}

.imagen > img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

#Producto {
  padding: var(--padding-200);
  margin: auto;
  width: 90%;
  gap: var(--gap-200);
  max-width: 1120px;
  transition: transform 0.3s;
}

#Producto > div {
  flex-direction: column;
  width: 250px;
  height: 100%;
  align-items: center;
  gap: var(--gap-200);
  padding-bottom: var(--padding-200);
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(141, 141, 141, 0.5);
  border-radius: 7px;
}
#Producto > div:hover {
  transform: scale(1.1);
}

.container {
  display: flex;
  gap: var(--gap-300);
}

#Producto > div > span {
  font-size: small;
}

.imgContainer {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgContainer > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

input {
  padding: var(--padding-100);
  border: 1px solid var(--color-200);
  box-shadow: 5px 5px 10px rgba(141, 141, 141, 0.5);
  border-radius: 5px;
}

button {
  width: 90%;
  font-size: larger;
  border: 1px solid var(--color-200);
  box-shadow: 5px 5px 10px rgba(141, 141, 141, 0.5);
  padding: var(--padding-100);
  cursor: pointer;
}

#Filtros {
  height: 100px;
  padding: var(--padding-100);
  background-color: var(--color-200);
}
#Filtros > select {
  padding: var(--padding-100);
  border-radius: 5px;
}

#Filtros > button {
  width: 100px;
  font-size: small;
  border-radius: 5px;
}

footer {
  background-color: var(--color-400);
  padding: var(--padding-300);
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

footer ul {
  flex: 1;
  min-width: 200px;
  margin: var(--margin-100);
}

footer ul li {
  list-style: none;
  margin: var(--margin-100) 0;
  color: var(--color-100);
}

footer ul li strong {
  display: block;
  margin-bottom: var(--margin-100);
}

footer ul li a {
  color: var(--color-400);
  text-decoration: none;
  color: var(--color-100);
}

footer ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 640px) {
  #Producto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-200);
    padding: var(--padding-200);
    margin: auto;
    width: 90%;

    max-width: 600px;
  }

  #Producto > div {
    width: 100%;
  }

  #Home {
    width: 100%;
    display: flex;
  }
  #Home > img {
    margin: 0px;
  }

  .lista {
    margin: 0px;
  }

  .lista > li {
    font-size: small;
  }

  .lista > li > img {
    width: 20px;
    height: 20px;
  }

  .imgContainer > img {
    width: 100%;
    height: auto;
    align-self: center;
    object-fit: cover;
  }

  #Filtros {
    align-items: center;
    justify-content: center;
    height: 150px;
  }
}
